
<div >
    <div class="container">
        <h3 style="margin-top:50px">Populares</h3>
        <div class="row" style="margin-top:35px;">
          <div class="col-md-2">
            <img src="../../assets/capas/pantera-negra-wakanda-forever.jpg" style="width: 140px;cursor: pointer;" (click)="redirectDetail('1')">
            <h6 style="margin-left: 18px;">Pantera Negra</h6>
          </div>
          <div class="col-md-2">
            <img src="../../assets/capas/adao-negro.jpg" style="width: 140px;cursor: pointer" (click)="redirectDetail('2')">
            <h6 style="margin-left: 30px;">Adão negro</h6>
          </div>
          <div class="col-md-2">
            <img src="../../assets/capas/halloween.jpg" style="width: 140px;cursor: pointer" (click)="redirectDetail('3')">
            <h6 style="margin-left: 18px;">Halloween ends</h6>
          </div>
          <div class="col-md-2">
            <img src="../../assets/capas/mundo-estranho.jpg" style="width: 140px;cursor: pointer" (click)="redirectDetail('4')">
            <h6 style="margin-left: 11px;">Mundo estranho</h6>
          </div>
          <div class="col-md-2">
            <img src="../../assets/capas/sorria.jpg" style="width: 140px;cursor: pointer" (click)="redirectDetail('5')">
            <h6 style="margin-left: 18px;">Sorria</h6>
          </div>
          <div class="col-md-2">
            <img src="../../assets/capas/top-gun.jpg" style="width: 140px;cursor: pointer" (click)="redirectDetail('5')">
            <h6>Top Gun</h6>
          </div>
          <div class="col-md-2">
            <img src="../../assets/capas/thor-amor-e-trova.jpg" style="width: 140px;cursor: pointer" (click)="redirectDetail('6')">
            <h6>Thor amor e trovao</h6>
          </div>
          <div class="col-md-2">
            <img src="../../assets/capas/thor-amor-e-trova.jpg" style="width: 140px;cursor: pointer" (click)="redirectDetail('7')">
            <h6>Thor amor e trovao</h6>
          </div>
          <div class="col-md-2">
            <img src="../../assets/capas/thor-amor-e-trova.jpg" style="width: 140px;cursor: pointer" (click)="redirectDetail('8')">
            <h6>Thor amor e trovao</h6>
          </div>
          <div class="col-md-2">
            <img src="../../assets/capas/thor-amor-e-trova.jpg" style="width: 140px;cursor: pointer" (click)="redirectDetail('9')">
            <h6>Thor amor e trovao</h6>
          </div>
          <div class="col-md-2">
            <img src="../../assets/capas/thor-amor-e-trova.jpg" style="width: 140px;cursor: pointer" (click)="redirectDetail('10')">
            <h6>Thor amor e trovao</h6> 
          </div>
        </div>
    </div>
</div>



