:host{
    position: fixed;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1c1c28;
    color: white;
    /* background-image: url("../../assets/background-home.png"); */
    /* background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(25%); */
  }